/* Page styles */

body,h1,h2,h3,p,td,quote,small,form,input,ul,li,ol,label{
	margin:0px;
	padding:0px;
}

body{
	margin-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	background-color: #141414; 
	height:100%;
	font-size:12px;
	position: relative;
}

/* Navigation menu styles */

ul{
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

ul li{
	border:1px solid #444444;
	display:inline-block;
	float:left;
	height:25px;
	list-style-type:none;
	overflow:hidden;
}

ul li a, ul li a:hover, 
ul li a:visited{
	text-decoration:none;
}

.normalMenu, .normalMenu:visited,
.hoverMenu, .hoverMenu:visited,
.selectedMenu,.selectedMenu:visited {
	outline:none;
	padding:5px 10px;
	display:block;
}

.hoverMenu,.hoverMenu:visited,
.selectedMenu,.selectedMenu:visited {
	margin-top:-25px;
	background:url(img/grey_bg.gif) repeat-x #eeeeee;
	color:#444444;
}

.selectedMenu,.selectedMenu:visited {
	margin:0;
}

.normalMenu, .normalMenu:visited{
	color:white;
	background:url(img/dark_bg.gif) repeat-x #444444;
}

/* Photo display */
.loading{
	padding: 2em;
	text-align:center;
}

#navigationMenu{
	margin:1em;
	padding-bottom:2em;
}

#SetTitle{
	clear:both;
	font-size:2.5em;
	font-weight:bold;
	padding-left:5em;
}

#content div{
	display: inline-block;
}

#content .imgContainer img{
	height:350px;
}

#content  .imgContainer{
	height:350px;
	max-height:350px;
	vertical-align:middle;	
	text-align: center;
	display: inline-block;
}

#loadingNotif{
	position: absolute;
	z-index: 10;
	bottom:0;
	width: 100%;
	background: rgba(15,15,15,.8);
	display: none;
}