Options +FollowSymLinks
RewriteEngine On

#Public access
RewriteRule ^albums/([^/.]*)[/]?$ func.php?album=$1 [L,NE]
RewriteRule ^photos/([^/.]*)/([^/.]*)[/]?$ func.php?album=$1&photo=$2 [L,NE]

#API access
RewriteRule ^api/album/([^/.]*)[/]?$ func.php?rel&album=$1 [L,NE]
RewriteRule ^api/photo/([^/.]*)/([^/.]*)[/]?$ func.php?rel&album=$1&photo=$2 [L,NE]